@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}
.h-adj {
  min-height: calc(100vh - 70px);
}
@media (min-width: 1020px) {
  .h-adj {
    min-height: calc(100vh - 86px);
  }
}
